*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.auth{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/backimg.jpg");
    background-size: cover;
    color: white;
    
    .auth-container{
        height: 440px;
        width: 420px;  
        background: transparent;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        padding: 30px 40px;

        h1{
            font-size: 2em;
            text-align: center;
            margin-bottom: 0.5em;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 1.4em;

            input{
                background-color: transparent;
                color: white;
                width: 100%;
                padding: 20px 45px 20px 20px;
                border: none;
                font-size: 16px;
                border: 2px solid hsl(0, 0%,75%);
                border-radius: 40px;
                outline: none;
                transition: 0.1s ease;
                z-index: 1111;
            }
            
            input::placeholder{
                color: hsl(0, 0%,75%);
            }

            i{
                position: absolute;
                right: 60px;
                top: 129px;
            }
            .sec{
                right: 60px;
                top: 213px;
            }

            p{
                text-align: center;
            }

            button{
                padding: 18px;
                border-radius: 40px;
                border: none;
                cursor: pointer;
                outline: none;
                font-size: 1.1em;
                font-weight: 600;
            }

            .linkto{
                margin-top: 0.2em;
                height: 20px;
                display: flex;
                justify-content: center;
                font-weight: 300;

                a{
                    color: white;
                    text-decoration: none;
                    margin-left: 0.3em;
                    font-weight: 600;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}