$lightGreen: hsl(180, 49%, 82%);

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1200px;
    .link {
      text-decoration: none;
      color: inherit;
      font-family: "Lora", sans-serif;
    }
    .navbar {
      position: fixed;
      top: 0;
      z-index: 999;
      .container {
        z-index: 1;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;

        .logo {
          img {
            width: 90px;
            height: 90px;
            border-radius: 50%;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 20px;

          h6 {
            font-size: 16px;
            font-weight: 300;
            font-family: "Lora", sans-serif;
          }

          .link {
            text-decoration: none;
            padding: 4px;
            position: relative;
            border-bottom: 3px solid white;
          }
          .link::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: transform 300ms ease-in-out;
            transform: scaleX(0);
            transform-origin: left;
          }
          .link:hover::before,
          .link:active::before{
            z-index: 1;
            transform: scaleX(1);
            border-bottom: 3px solid  hsl(210, 92%, 66%);
          }
          .link:hover,
          .link:active{
            color: hsl(210, 92%, 66%);
          }
          

          span {
            cursor: pointer;
            font-weight: 600;
            margin-left: 5px;
            font-family: "Kode Mono", sans-serif;
          }

          .userId{
            text-decoration: none;
          }

          .write {
            background-color: $lightGreen;
            padding: 30px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            .linkWrite{
              text-decoration: none;
              font-family: "Lora", sans-serif;
            }

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }

          .log {
            display: inline-block;
            padding: 10px 20px;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border: 2px solid #3498db; /* Border color */
            color: #3498db; /* Text color */
            background-color: #ffffff; /* Background color */
            border-radius: 20px; /* Adjust the border-radius for rounded corners */
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;

            &:hover {
              background-color: #3498db;
              color: #ffffff;
              border-color: #ffffff;
            }
          }
        }
      }
    }

    //FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      span {
        font-family: "Lora", sans-serif;
      }
      img {
        height: 50px;
        border-radius: 50%;
      }
    }

    //HOME

    .home {
      .posts {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 50px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }
          &:nth-child(2n){
            margin-left: 20px;
          }

          .img {
            width: 400px;
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: inherit;
            }
          }

          .content {
            flex: 3;
            // flex: 2;
            display: flex;
            flex-direction: column;
            overflow: auto;
            word-wrap: break-word;
            gap: 50px;

            h1 {
              margin-top: 25px;
              font-size: 45px;
              font-family: "Lora", sans-serif;
            }

            p {
              font-size: 18px;
              font-family: "Lora", sans-serif;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid teal;
              color: teal;

              &:hover {
                border: 1px solid white;
                background-color: $lightGreen;
                color: black;
              }
            }
          }
        }
      }
    }

    //SINGLE

    .single {
      margin-top: 150px;
      display: flex;
      justify-content: center;
      gap: 50px;
      width: 100%;

      .content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .post-title{
          width: 810px;
          word-wrap: break-word;
        }

        .ql-editor{
          max-width: 810px;
          word-wrap: break-word;

          &::first-letter{
            font-size: 60px;
            text-transform: uppercase;
          }
        }

        img {
          width: 100%;
          height: 300px;
          object-fit: inherit;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
          font-family: "Lora", sans-serif;
        }

        p {
          text-align: justify;
          line-height: 30px;
          font-family: "Lora", sans-serif;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 30px;
          color: #555;
          font-family: "Lora", sans-serif;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
            font-family: "Lora", sans-serif;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
      .comment-area{
        width: 100%;

        input{
          width: 100%;
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
          outline: none;
          margin-top: 20px;
        }

        button{
          margin-top: 20px;
        }
        .btn-cancel{
          padding: 10px;
          border-radius: 10px;
          border: 1px solid teal;
          color: teal;
          background-color: hsl(0, 0%, 100%);
          cursor: pointer;

          &:active{
            background-color: hsl(0, 17%, 95%);
          }
        }
        .btn-submit{
          margin-left: 15px;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid white;
          cursor: pointer;
          color: white;
          background-color: hsl(180, 100%, 25%);

          &:active{
            background-color: hsl(180, 100%, 35%);
          }
        }
      }
      .commentContainer {
        margin-top: 6px;
        background-color: #d3d3d3e0;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        width: 400px;
        cursor: pointer;
        border-radius: 5px;
      }

      .commentContainer p {
        overflow: hidden;
        word-wrap: break-word;
        max-width: 100%; 
        margin: 0;
      }
      .commentedit {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      .writer {
        color: #393535d6;
        font-weight: bolder;
      }
      button {
        padding: 8px 16px;
        margin: 0;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
      }
      .edit-btn:hover {
        background-color: #45a049b7; /* Adjust the color as needed */
      }
      .delete-btn:hover {
        background-color: #cf3f3f96; /* Adjust the color as needed */
      }
    }

    //WRITE

    .add {
      margin-top: 170px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 400px;
          max-width: 1200px;
          

          .editor {
            height: 100%;
            width: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 60px;

        .item {
          border: 1px solid lightgray;
          padding: 20px;
          flex: 1;
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          gap: 10px;
          color: #555;

          .imageDesc{
           form{
            display: flex;
            flex-direction: column;
            width: 300px;
            gap: 10px;
           }
          }
          .imageUploadBtn{
            border-radius: 15px;
            background-color: hsl(94, 92%, 66%);
            color: white;
            padding: 10px;
            border: none;
            position: relative;
            font-family: "Lora", sans-serif;
            color: #333;
            cursor: pointer;

            &:active{
              background-color: hsl(94, 92%, 76%);
            }
          }

          .Btn{
            background-color: hsl(210, 92%, 66%);
            padding: 10px 20px;
            cursor: pointer;
            position: relative;
            display: inline-block;
            color: white;
            border: none;
            margin-bottom: 10px;
            font-family: "Lora", sans-serif;
          }
          .Btn::before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgb(26, 129, 232);
            z-index: -1;
            transition: transform 300ms ease-in-out;
            transform: scaleX(0);
            transform-origin: left;
          }
          .Btn.btn-slide{
            z-index: 1;
          }
          .Btn.btn-slide:hover::before,
          .Btn.btn-slide:focus::before{
            transform: scaleX(1);
          }
          
          

          h1 {
            font-size: 20px;
            font-family: "Lora", sans-serif;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .cat {
            display: flex;
            align-items: center;
            gap: 4px;
            color: hsl(210, 92%, 66%);
          }
        }

        #title{
          margin: 10px 0px 10px 0;
          height: 30px;
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          color: hsl(210, 92%, 66%);;
          outline: none;
          border: 1px solid hsl(210, 92%, 66%);

          &::placeholder{
            font-family: "Lora", sans-serif;
            color: hsl(210, 92%, 66%);
          }
        }
      }
    }
  }
}

// profile 

.profile{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 150px;
  align-items: center;

  .pro{
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;

   
    
    .blurUp{
      backdrop-filter: blur(15px);
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      align-items: center;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: transform 500ms ease-in-out;
      transform: scaleX(0);

      &>p{
        
        font-family: "Lora", sans-serif;
        color: white;
        font-size: 24px;
      }
    }

    .profilePhoto{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .pro:hover,
  .pro:active{
    .blurUp{
      transform: scaleX(1);
    }
  }

  .user-info{
    height: 100px;
    width: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #333;
  }

  h1{
    text-align: center;
    font-family: "Lora", sans-serif;
  }
  h4{
    text-align: center;
    font-family: "Lora", sans-serif;
    color: #333;
  }
  h2{
    color: teal;
    text-align: center;
    width: fit-content;
    font-family: "Lora", sans-serif;
    padding: 10px;
    border-radius: 7px;
    border-bottom: 3px solid teal;
  }

  .blogs{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-top: 40px;

    h3{
      color: #333;
      font-family: "Lora", sans-serif;
      font-size: 24px;
    }

    .post-pro{
      display: flex;
      width: 100%;
      padding: 20px;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      border: 1px solid #333;
      
      .post-title{
        overflow: hidden;
        word-wrap: break-word;
        flex: 4;
        margin-right: 10px;
      }

      .btns{
        border-left: 1px solid #333;

        button{
          padding: 10px;
          margin-left: 10px;
          border-radius: 10px;
        }
        .edit-btn{
          background-color: $lightGreen;
          color: #333;
          border: 1px solid white;
          height: 39px;
          width: 62px;
          cursor: pointer;

          &:active{
            background-color: hsl(180, 49%, 90%)
          }
        }
        .delete-btn{
          background-color: hsl(0, 61%, 59%);
          color: white;
          border: 1px solid white;
          height: 39px;
          width: 62px;
          cursor: pointer;

          &:active{
            background-color: hsl(0, 61%, 70%);
          }
        }
      }
    }
  }
}